[submodule "Hardware/LogicBoard"]
	path = Hardware/LogicBoard
	url = git@github.com:bebenlebricolo/BTS-LogicBoard.git
[submodule "Hardware/PowerBoard"]
	path = Hardware/PowerBoard
	url = git@github.com:bebenlebricolo/BTS-MainBoard-Power.git
[submodule "Firmware/AvrAsyncCore"]
	path = Firmware/AvrAsyncCore
	url = git@github.com:bebenlebricolo/AvrAsyncCore.git
